body {
  background-color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}

 
/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

 


/* Side navigation log in */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

 

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

 

/* Style the content */
.content {
  margin-left: 100px;
  padding-left: 10px;
}
